<div ng-switch="vm.isAuthenticated()">

    <div class="btn-group-vertical" role="group" ng-switch-when="true">

        <button class="btn btn-success" ui-sref="contract.new" >
            <span class="glyphicon glyphicon-plus"></span>
            <span  data-translate="global.menu.menu.newContract" translate-compile>
                New Contract
                </span>
        </button>
        <br />



        <button class="btn btn-success" ui-sref="contract.new" >
            <span class="glyphicon glyphicon-plus"></span>
            <span  data-translate="global.menu.menu.favorites" translate-compile>
                Create new Contract
            </span>
        </button>

        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Dropdown link</a></li>
                <li><a href="#">Dropdown link</a></li>
            </ul>
        </div>
    </div>

</div>
