<div>
    <div class="row">

        <div class="col-md-10">
            <h1 data-translate="pocSignaturitApp.contract.home.title">Contracts</h1>
            <jhi-alert></jhi-alert>

            <br/>
            <div class="table-responsive">
                <table class="jh-table table table-striped">
                    <thead>
                        <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                            <!--
                            <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                            -->
                            <th jh-sort-by="contractName"><span data-translate="pocSignaturitApp.contract.contractName">Contract Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="document"><span data-translate="pocSignaturitApp.contract.document">Document</span> <span class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="status"><span data-translate="pocSignaturitApp.contract.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>

                            <th jh-sort-by="documentSigned"><span data-translate="pocSignaturitApp.contract.documentSigned">Document Signed</span> <span class="glyphicon glyphicon-sort"></span></th>
                            <!--
                            <th jh-sort-by="creationDate"><span data-translate="pocSignaturitApp.contract.creationDate">Creation Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="signedDate"><span data-translate="pocSignaturitApp.contract.signedDate">Signed Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                            <th jh-sort-by="creatorId"><span data-translate="pocSignaturitApp.contract.creator">Creator</span> <span class="glyphicon glyphicon-sort"></span></th>
                            -->
                            <th></th>
                        </tr>
                    </thead>
                    <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                        <tr ng-repeat="contract in vm.contracts track by contract.id">
                            <!--
                            <td><a ui-sref="contract-detail({id:contract.id})">{{contract.id}}</a></td>
                            -->
                            <td>{{contract.contractName}}</td>
                            <td>
                                <a ng-if="contract.document" ng-click="vm.openFile(contract.documentContentType, contract.document)" data-translate="entity.action.open">open</a>
                                <!--<span ng-if="contract.document">{{contract.documentContentType}}, {{vm.byteSize(contract.document)}}</span>-->

                            </td>
                            <td data-translate="{{'pocSignaturitApp.Status.' + contract.status}}">{{contract.status}}</td>
                            <td>
                                <a ng-if="contract.documentSigned" ng-click="vm.openFile(contract.documentSignedContentType, contract.documentSigned)" data-translate="entity.action.open">open</a>
                                <!--<span ng-if="contract.documentSigned">{{contract.documentSignedContentType}}, {{vm.byteSize(contract.documentSigned)}}</span>-->
                            </td>
                            <!--
                            <td>{{contract.signedDate | date:'medium'}}</td>
                            <td>
                                <a ui-sref="creator-detail({id:contract.creatorId})">{{contract.creatorId}}</a>
                            </td>
                            -->
                            <td class="text-right">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="submit"
                                            ui-sref="contract-detail({id:contract.id})"
                                            class="btn btn-info btn-sm">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                        <!-- <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                                        -->
                                    </button>
                                    <button type="submit"
                                            ui-sref="contract.edit({id:contract.id})"
                                            class="btn btn-primary btn-sm">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                        <!--<span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                                        -->
                                    </button>

                                    <button type="submit"
                                            ng-hide="contract.status!='DRAFT'"
                                            ui-sref="sign-request.new({id:contract.id})"
                                            class="btn btn-warning btn-sm">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                        <span class="hidden-xs hidden-sm" data-translate="entity.action.sign"></span>
                                    </button>
                                    <button type="submit"
                                            ng-hide="contract.status!='DRAFT'"
                                            ui-sref="signer.new({id:contract.id})"
                                            class="btn btn-warning btn-sm">
                                        <span class="glyphicon glyphicon-user"></span>
                                        <!--<span class="hidden-xs hidden-sm" data-translate="entity.action.addSigner"></span>
                                        -->
                                    </button>
                                    <button type="submit"
                                            ui-sref="contract.delete({id:contract.id})"
                                            class="btn btn-danger btn-sm">
                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                        <!--<span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                                        -->
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

